@import url("https://use.typekit.net/hct4vcx.css");

$default-body-font-size: 16px;
$default-font: "Josefin-sans", apple-system, "Helvetica Neue", sans-serif;
$defualt-font-weight: 300;
$default-list-padding: 15px;
$default-h1-font-weight: 600;
$default-title: "Josefin-slab", serif;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $default-font;
  font-size: $default-body-font-size;
  font-weight: $defualt-font-weight;
  display: flex;
  flex-wrap: nowrap;
}

h1 {
  font-weight: $default-h1-font-weight;
  font-family: $default-title;
}

h2,
h3,
h4 {
  font-family: $default-title;
  font-weight: 600;
}

h4 {
  margin-bottom: 0;
}

p {
  max-width: 80vw;
  margin-bottom: 50px;
}

//article::before is a pseudoclass, content inserts a small element inside the parent article
article::before,
section::before {
  content: "";
  display: block;
  height: 5px;
}

section {
  margin-bottom: 20%;
  .sub-section {
    margin-bottom: 50px;
  }
}

nav,
main {
  min-height: 100vh;
  padding: 40px;
}

nav {
  width: 300px;
  border-right: 1px solid #eee;
  font-size: 14px;
  position: fixed;
  ul {
    ul {
      padding-left: $default-list-padding;
    }
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.8em;
      font-weight: 400;
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.sublist {
  li {
    font-weight: 300;
  }
}

#layout {
  .layoutImg {
    width: 80vw;
    padding-right: 50px;
  }
  .underside {
    width: 50vw;
  }
}

#breakpoints {
  .mobil-eksempel {
    height: 60vh;
  }
}

.sideNavImg {
  width: 200px;
  margin-bottom: 50px;
}
.backBtn {
  width: 200px;
}

.logo {
  height: 30px;
  display: block;
  margin-bottom: 40px;
}

.logo-display {
  width: 600px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 40px;
  img {
    height: 100px;
    width: auto;
    display: block;
    padding-left: 30px;
  }
  .logo-str-mobile {
    height: 16px;
    width: auto;
    display: block;
    padding-left: 30px;
    margin-bottom: 40px;
  }
  .logo-str-desktop {
    height: 25px;
    width: auto;
    display: block;
    padding-left: 30px;
    margin-bottom: 40px;
  }
  .logo-guidelines {
    display: block;
    margin-bottom: 40px;
  }
}

#colors {
  #color-grid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 30px;
  }
  .color-black {
    width: 100px;
    height: 100px;
    background-color: #0a0a0a;
  }
}

#images {
  img {
    width: 150px;
  }
  .img-max {
    width: 800px;
  }
  #images img:nth-child(2) {
    opacity: 0.3;
  }
  #image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    align-items: center;
  }
  div {
    img {
      width: 150px;
    }
    .color-rectangel {
      width: 150px;
      height: 187px;
      background-color: #26009a;
      opacity: 0.2;
    }
  }
  div img:nth-child(2) {
    opacity: 0.3;
  }
  div img:nth-child(3) {
    opacity: 0.2;
  }
  div div:nth-child(5) {
    font-family: $default-title;
  }
}

main {
  margin-left: calc(300px + 5%);
}

header,
article {
  max-width: 550px;
  line-height: 1.4em;
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
}

#article1,
#article6 {
  height: 100vh;
}

#article6 {
  margin-top: 150px;
  border-top: 1px solid #eee;
}

.typo-josefin-slab-thin {
  font-family: $default-title;
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
}
.typo-josefin-slab {
  font-family: $default-title;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}
.typo-josefin-slab-bold {
  font-family: $default-title;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}
.typo-josefin-sans {
  font-family: $default-font;
  font-style: italic;
  font-size: 2rem;
  font-weight: 300;
}
.typo-josefin-sans-thin {
  font-family: $default-font;
  font-style: italic;
  font-size: 2rem;
  font-weight: 100;
}
.typo-josefin-sans-bold {
  font-family: $default-font;
  font-style: italic;
  font-size: 2rem;
  font-weight: 900;
}

#article5 {
  .kode-konvesjoner {
    list-style: none;
    padding-left: 0;
    width: 800px;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        list-style: none;
        margin-bottom: 10px;
      }
    }
  }

  .css-kodestil {
    width: 40vw;
  }
  .js-kodestil {
    width: 40vw;
  }
}

@media screen and (max-width: 900px) {
  body {
    flex-wrap: wrap;
    width: 100vw;
  }

  nav,
  main {
    min-height: auto;
    max-width: 100vw;
  }

  main {
    margin-left: 0;
  }

  nav {
    position: static;
    border-bottom: 1px solid #eee;
    border-right: none;
  }

  .logo-display {
    img {
      height: 70px;
    }
  }

  #images {
    img {
      width: 150px;
    }
    .img-max {
      width: 85vw;
    }
    #image-grid {
      grid-gap: 15px;
    }

    div {
      img {
        width: 100px;
      }
      .color-rectangel {
        width: 100px;
        height: 127px;
      }
    }
  }
}
